{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block content %}

    <div class="postbox">
        <nav id="menu">
            <ul>

                <li>
                    <a href="/">
                        <h3>Articles</h3>
                    </a>
                </li>

                <li>
                    <a href='/p/talks.html'>
                        <h3>Talks</h3>
                    </a>
                </li>

                <li>
                    <a href='/p/about-avilpage.html'>
                        <h3>About</h3>
                    </a>
                </li>

            </ul>
        </nav>

        <hr>
    {% block data %}
    {% endblock %}

    </div>

{% endblock %}
