{#  -*- coding: utf-8 -*- #}
{% extends 'core.tmpl' %}

{% block data %}

    {% if posts %}

        {% for post in posts %}
            {% if year == post.date.year %}
            {% else %}
                {% set year = post.date.year %}
                <h4>{{year}}</h4>
            {% endif %}
            <a href="{{ post.permalink() }}"> {{ post.title() }}</a>
            <br />
            <br />
        {% endfor %}
    {% endif %}

{% endblock %}
