{#  -*- coding: utf-8 -*- #}
{% extends 'core.tmpl' %}

{% block data %}

    {% if posts %}

        {% for group in posts|groupby('date.year')|reverse %}
            <h4>{{ group.grouper }}</h4>
            {% for post in group.list %}
                <a href="{{ post.permalink() }}"> {{ post.title() }}</a>
                <br /><br />
            {% endfor %}
        {% endfor %}

    {% endif %}

{% endblock %}
