{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ helper.twitter_card_information(post) }}
    {% if post.meta('keywords') %}
        <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    {{ helper.meta_translations(post) }}

    <style>
     #wrapper {
         width: 100%;
         margin: 0;
     }

     #first-div {
         width: 16%;
         height: 90px;
         /*          margin: 10px 0px 0px 10px; */
         margin: 0;
         float: left ;
     }

     #second-div {
         width: 84%;
         height: 72px;
         margin: 18px 0px 0px 0px;
         float: left ;
     }
    </style>

{% endblock %}


{% block content %}

    <div class="postbox">

        <article class="postbox post-{{ post.meta('type') }}">
            <div class="h-entry" itemscope="itemscope" itemtype="http://schema.org/Article">
                {{ helper.html_title() }}
                <hr>
                <div class="e-content" itemprop="articleBody text">
                    {{ post.text() }}
                </div>
                {% if post.description() %}
                    <meta content="{{ post.description() }}" itemprop="description">
                {% endif %}
            </div>

            <br />
            <hr>

            <div id="wrapper">
                <div id="first-div">
                    <img src="https://s.gravatar.com/avatar/608fa09693cef8d410834bd55755dbed?s=80" />
                </div>
                <div id="second-div">
                    I am Chillar Anand. I daydream a lot and write about the things that interest me here.
                    You can read more about <a href="/p/about-avilpage.html">this blog here</a>.
                </div>
            </div>

            <hr>

            <a href="/">
                <h2>See all articles</h2>
            </a>

            <a href="/rss.xml">
                <h3>RSS</h3>
            </a>

        </article>
    </div>

{% endblock %}
