html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    padding-top: 70px;
    font-size: 18px;
}

.body-content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
}


h1 {
    font-weight: bold;
    font-size: 18px;
}


h3 {
    font-size: 16px;
}

h4 {
    font-weight: bold;
}

pre.code {
    background: #f3f3f3;
    font-size: 14px;
    line-height: 1.2;
    /* overflow-wrap: break-word; */
    /* overflow: auto; */
    /* word-wrap: normal; */
    white-space: pre-wrap;
}
