html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    padding-top: 70px;
    font-size: 18px;
}

.body-content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
}


h1 {
    font-weight: bold;
    font-size: 18px;
}


h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

pre.code {
    background: #f3f3f3;
    font-size: 14px;
    line-height: 1.2;
    /* overflow-wrap: break-word; */
    /* overflow: auto; */
    /* word-wrap: normal; */
    white-space: pre-wrap;
}


.full-article-footer {
    border-top: 1px solid #E0DFDB;
}


.article-footer {
    padding: 20px 10px 10px 10px;
    min-height: 115px;
    display:table;
}


.avatar-module {
    display: table-cell;
    vertical-align: middle;
}


.avatar-module img {
    border-radius: 50%!important;
    height: 120px;
    width: 120px;
    float: left;
    margin:0px 20px 0px 20px;
}


.article-footer p {
    line-height:1.5em;
    padding-left:15px;
}


@media (max-width:750px) {
    .article-footer {
        display:inherit;
        margin:0px;
    }

    .avatar-module {
        display:inherit;
        vertical-align: none;
    }

    .avatar-module img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float:none;
        margin-top:0px;
    }

    .article-footer p {
        text-align:center;
        padding-left:0px;
    }
}
