html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    max-width: 600px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
}

code, pre.code {
    background: #f3f3f3;
}
