{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
    {#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
<script data-ad-client="ca-pub-7483923329257191" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">{{ messages("Toggle navigation") }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ abs_link(_link("root", None, lang)) }}">
            {% if logo_url %}
                <img src="{{ logo_url }}" alt="{{ blog_title|e }}" id="logo">
            {% endif %}

            {% if show_blog_title %}
                <span id="blog-title">{{ blog_title|e }}</span>
            {% endif %}
            </a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
            <ul class="nav navbar-nav">
                {{ base.html_navigation_links() }}
                {{ template_hooks['menu']() }}
            </ul>
            {% if search_form %}
                {{ search_form }}
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% block belowtitle %}
                {% if translations|length > 1 %}
                    <li>{{ base.html_translations() }}</li>
                {% endif %}
                {% endblock %}
                {% if show_sourcelink %}
                    {% block sourcelink %}{% endblock %}
                {% endif %}
                {{ template_hooks['menu_alt']() }}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">
    <div class="body-content col-lg-6 col-lg-offset-3 col-xs-12 col-md-12">
        <!--Body content-->
        <div class="row">
            {{ template_hooks['page_header']() }}
            {% block content %}{% endblock %}
        </div>
        <!--End of body content-->
        <div id="coral_thread"></div>

        <footer id="footer">
            {{ content_footer }}
            {{ template_hooks['page_footer']() }}
        </footer>
    </div>
</div>

{{ base.late_load_js() }}
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81644162-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-81644162-1');

    $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
    }).attr('target', '_blank');
    </script>



    <!-- <script>
         (function() {
         var d = document, s = d.createElement('script');
         var url = 'avilpage-coral.herokuapp.com';
         /*         var url = 'http://comments.avilpage.com'; */
         s.src = '//' + url + '/assets/js/embed.js';
         s.async = false;
         s.defer = true;
         s.onload = function() {
         Coral.createStreamEmbed({
         id: "coral_thread",
         autoRender: true,
         rootURL: '//' + url,
         });
         };
         (d.head || d.body).appendChild(s);
         })();
         </script> -->

    {{ body_end }}
    {{ template_hooks['body_end']() }}



</body>
</html>
