{#  -*- coding: utf-8 -*- #}

{% import 'helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}
{% extends 'base.tmpl' %}

{% block content %}
    <article class="listpage">
        <header>
            <h1>{{ title|e }}</h1>
        </header>
        {{ archive_nav.archive_navigation() }}
        {{ feeds_translations.translation_link() }}
        <div class="postlist">
            {% for group in posts|groupby('date.year')|reverse %}
                <h4>{{ group.grouper }}</h4>
                {% for post in group.list %}
                    <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a>
                    <br />
                    <time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">
                        {{ post.formatted_date(date_format) }}
                    </time>
                    {{ helper.duration(post) }}
                    <br /><br />
                {% endfor %}
            {% endfor %}
        </div>
    </article>
{% endblock %}

{% block extra_head %}
    {{ feeds_translations.head() }}
{% endblock %}
