{#  -*- coding: utf-8 -*- #}

{% macro duration(post) %}

    {% set time = (post.text() | wordcount / 200) | round | int %}
    {% if time == 0 %}
        {% set time = 1 %}
    {% endif %}

    {% if time <= 15 %}
        {{ time }} min read
    {% else %}
        10+ min read
    {% endif %}

{% endmacro %}
