{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'math_helper.tmpl' as math with context %}
{% import 'helper.tmpl' as helper2 with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
        <meta name="keywords" content="{{ smartjoin(', ', post.meta('keywords'))|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}"
              type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}"
              type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
    {{ math.math_styles_ifpost(post) }}

    <style>
    .full-article-footer {
    border-top: 1px solid #E0DFDB;
}


.article-footer {
    padding: 20px 10px 10px 10px;
    min-height: 115px;
    display:table;
}


.avatar-module {
    display: table-cell;
    vertical-align: middle;
}


.avatar-module img {
    border-radius: 50%!important;
    height: 120px;
    width: 120px;
    float: left;
    margin:0px 20px 0px 20px;
}


.article-footer p {
    line-height:1.5em;
    padding-left:15px;
}


@media (max-width:750px) {
    .article-footer {
        display:inherit;
        margin:0px;
    }

    .avatar-module {
        display:inherit;
        vertical-align: none;
    }

    .avatar-module img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float:none;
        margin-top:0px;
    }

    .article-footer p {
        text-align:center;
        padding-left:0px;
    }
}

    </style>
{% endblock %}

{% block content %}
    <article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope"
             itemtype="http://schema.org/Article">

        {{ pheader.html_post_header() }}

        <div class="e-content entry-content" itemprop="articleBody text">
            {{ post.text() }}
        </div>

        {% if 'musings' not in helper.html_tags(post) %}
            <hr>
            Need further help with this? <a href="https://forms.gle/Hre4z4aLqJA5zYWe6">Feel free to send a message</a>.
            <hr>
        {% endif %}

        <aside class="postpromonav">
            <nav>
                {{ helper.html_tags(post) }}
                {{ helper.html_pager(post) }}
            </nav>
        </aside>

{#        <div class="full-article-footer">#}
{#            <div class="article-footer">#}
{##}
{#                <div class="avatar-module">#}
{#                    <img class="avatar" height="100px" src="/images/chillaranand.jpg">#}
{#                </div>#}
{##}
{#                <p class="avatar-module">#}
{#                    <b>Chillar Anand</b>#}
{#                    <br>#}
{#                    Improving Health & Wealth with Technology#}
{#                    <br>#}
{#                    To contact me, <a href="https://forms.gle/Hre4z4aLqJA5zYWe6">send a message here</a>.#}
{#                </p>#}
{##}
{#            </div>#}
{#        </div>#}

        {% if not post.meta('nocomments') and site_has_comments %}
            <section class="comments hidden-print">
                <h2>{{ messages("Comments") }}</h2>
                {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
            </section>
        {% endif %}
        {{ math.math_scripts_ifpost(post) }}
    </article>
    {{ comments.comment_link_script() }}
{% endblock %}
